/cmake-build-debug/
/.idea/codeStyles/codeStyleConfig.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/serialmonitor_settings.xml
/.idea/stm32_nes_console.iml
/.idea/workspace.xml
/.idea/vcs.xml
